/**
.vaccineBg {
    background-image: url(img/patient.jpg);
    background-attachment: fixed ; fixed position
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
*/
body{
    
}


.introTitle h1{
    text-align: center;
    font-size:3.5rem;
    color:rgb(202, 63, 28);background-size: cover;

}

.title{
    text-align: center;
    font-size:1.5em;
    max-width: 50%;
}

.formBg{
    background-color:hsl(44, 100%, 97%);
    
}

.introBg{
    background-color: cornsilk;
    background-image: url(img/top-bg.png);
    background-attachment: fixed ;
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    padding: 10%;
    align-content: center;
}